{% extends 'main/base.html.twig' %}

{% block title %}Авторизуйтесь!{% endblock %}

{% block body %}
<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-lg-6" style="margin-left: 400px;">
            <form method="post" id="form" style='margin-left: 20px'>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
                
                <h1 class="h3 mb-3 font-weight-normal">
                    Авторизуйтесь
                </h1>

                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email address</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>

                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>

                <div class="mb-3">
                    <input class="form-check-input" type="checkbox" id="rememberMe" style="margin-top: 8px; margin-left: 1px" name="_remember_me">
                    <label class="form-check-label" for="rememberMe" style="margin-left: 23px">
                        Запомнить меня!
                    </label>
                </div>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
                
                <div class="form-footer-buttons">
                    <button type="submit" class="btn btn-success">
                        <span>Войти</span>
                    </button>
                    <a href="{{ path('app_register') }}" type="submit" class="btn btn-success">
                        <span>Создать аккаунт</span>
                    </a>
                </div>

                {# <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                > #}

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
            </form>
        </div>
    </div>
</div>
{% endblock %}
